.top-menu {
  position: relative;
}

.top-menu .MuiToolbar-root {
  min-height: 48px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.top-menu .MuiButton-root {
  padding-top: 4px;
  padding-bottom: 4px;
}
